@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

/* *{
  border: 1px solid red;
} */

html, body{
  margin: 0px;
  padding: 0;
  width: 100%;
  scroll-behavior: smooth;
  background-color: #26303c;
}

body {
  font-family: 'Comic Neue', cursive;
}

header{
  width: 100%;
  height: 10vh;
}

.content{
  height: 80vh;
  color:#fff;
  width: 100%;
  font-size: 16px;
  text-align: justify;
  margin: 0 0 2rem 0;
}

.container{
  margin: 0px 30px 0px;
}

.row-center{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.row-box{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 45px;
}

.pool-card{
  background: #1d242d;
  width: 390px;
  height: 170px;
  margin: 10px 10px;
  padding: 5px 15px 5px 15px;
  box-sizing: border-box;
}

.pool-bar{
  margin-top: 10px;
}

.pool-bar .span1{
  background: #dadada;
  width: 100%;
  display: flex;
  color:#dadada;
  border-radius: 5px;
}

.pool-bar .span2{
  background: #00adfe;
  display: block;
  box-sizing: border-box;
  color:#00adfe;
  border-radius: 5px;
}

.pool-bar .span3{
  box-sizing: border-box;
  color: #dadada;
  margin-left: 10px;
  font-size: 15px;
}

.text-suara{
  margin-bottom: 10px;
}

.border-bottom{
  border-bottom: 3px solid #2a75ce;
}

.logo{
  position: fixed;
  float: left;
  margin: 15px 36px;
  color:#fff;
  font-weight: bold;
  font-size: 32px;

}

.svg-icon{
  width: 30px;
  float: right;
  cursor: pointer;

}

svg{
  fill:white
}

nav{
  position: fixed;
  width: 100%;

}

nav ul{
  list-style: none;
  background: rgba(0,0,0,0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 9px 36px;
  transition: all 0.8s ease;

}

nav ul li{
  display: inline-block;
  padding: 10px;
}

nav ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

nav ul li a:hover{
  color:#00adfe
}

nav{
  transition: all 1s ease-in-out;
}

nav.black{
  background: #1d242d;
  transition: all 1s ease-in-out;
}

.menu-icon{
  width: 100%;
  background: #1d242d;
  text-align: right;
  box-sizing: border-box;
  padding: 21px 36px;
  color:#fff;
  display: none;
}

.heading-2{
  display: flex;
  justify-content: center;
  margin-top: -35px;
  text-align: center;
}

.tombol{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

label.button {
  color:#fff;
  background:#26303c;
  border: none;
  box-sizing: border-box;
  padding: 6px 23px;
  border-radius: 5px;
  font-weight: bold;
  transition: all ease-in-out .7s;
}

label.button:hover{
  border: 1px solid #00adfe;
  padding-top: -1px;
  color:#00adfe;
}

@media (max-width: 780px) {
  .userLogin{
    border-bottom: none!important;
  }

  .logo{
    position: fixed;
    top:0;
    margin-top: 12px;
  }

  nav ul{
    max-height: 0px;
    background: #1d242d;
    margin: 0px;
  }

  nav.black ul{
    background: #1d242d;
  }

  .showing{
    max-height: 20em;
  }

  nav ul li{
    box-sizing: border-box;
    width: 100%;
    padding: 15px 0;
    text-align: center;
  }

  .menu-icon{
    display: block;
  }
}


label.close svg{
  fill:#171e26;
  right: 20px;
  position: absolute;
  top: 25px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.modal-content{
  position: fixed;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.click-me{
  display: block;
  width: 150px;
  height: 50px;
  background: #171e26;
  border-radius: 5px;
  line-height: 50px;
  text-align: center;
}
#click{
  display: none;
}
.modal-content{
  opacity: 0;
  visibility: hidden;
  width: 400px;
  height: 390px;
  overflow-y: scroll;
  background: #171e26;
  border-radius: 3px;
  padding-bottom: 20px;
  transition: 0.5s ease-in-out;
}
.modal-content .header{
  height: 60px;
  background: #fff;
  overflow: hidden;
  border-radius: 3px;
  color:#171e26;
}
.modal-content .header h2{
  text-align: center;
  font-weight: bold;
}
.modal-content .isi p{
  padding: 20px;
  box-sizing: border-box;
}

.submit-group {
	padding: 0px 0px 25px 0px;
	display: flex;
	justify-content: center;
}

.submit-group .submit-btn {
	padding: 5px 25px;
	cursor: pointer;
	background: #2ecc71;
	border: none;
	color: #fff;
	font-weight: 700;
	border-radius: 3px;
}

.submit-group .close-btn{
  padding: 5px 25px;
  cursor: pointer;
  background: #e74c3c;
  border: none;
  color: #fff;
  font-weight: 700;
  border-radius: 3px;
}

.gap{
  padding: 0 15px
}

.foto-kandidat{
  max-width: 200px;
  display: block;
  margin: 20px auto;
}

#click:checked ~ .modal-content{
  opacity: 1;
  visibility: visible;
}

.userLogin{
  font-size: 21px;
  border-bottom: 1px solid #00adfe;
}

@media (max-width: 415px) {
  .modal-content{
    width: 95%;
  }

}
