@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

*{
  margin: 0;
  list-style: none;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Comic Neue', cursive;

}

body {
  background: #eee;
}
.wrapper{
  margin: 5px;
}
svg{
  width: 20px;
  height: 20px;
  fill: #516673;
}



.wrapper .top_navbar{
  width: calc(100% - 10px);
  height: 60px;
  display: flex;
  position: fixed;
  top: 5px;
}

.wrapper .top_navbar .list-menu{
  width: 70px;
  height: 100%;
  background: #516673;
  padding: 15px 17px;
  border-top-left-radius: 10px;
  cursor: pointer;
}

.wrapper .top_navbar .list-menu div{
  width: 35px;
  height: 4px;
  background: #85b4d0;
  margin: 5px 0;
  border-radius: 5px;
}

.wrapper .top_navbar .top_menu{
  width: calc(100% - 60px);
  background: #fff;
  height: 100%;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.wrapper .top_navbar .top_menu .logo{
  color:#516673;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;

}

.wrapper .sidebar{
  position: fixed;
  top: 65px;
  left:5px;
  background: #516673;
  width: 200px;
  height: calc(100% - 70px);
  border-bottom-left-radius: 10px;
  transition: all 0.3s ease-in-out;

}

.wrapper .sidebar ul li a{
  display: block;
  padding: 20px;
  position: relative;
  margin-bottom: 1px;
  color: #c8d1d6;
  transition: all 0.5s;
}


.icon svg{
  fill: #85b4d0;
}

.active svg{
  fill: #e1f4ff;
}

.wrapper .sidebar ul li a span.icon{
  margin-right: 5px;
  display: inline-block;
}

.wrapper .sidebar ul li a span.title{
  display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
  background: #4c5d68;
  color: #fff;
}


.wrapper .container{
  width: calc(100% - 200px);
  margin-top: 70px;
  margin-left: 200px;
  padding: 5px;
  transition: all 0.5s ease;
}

.wrapper .container .content{
  background: #fff;
  padding: 15px;
  font-size: 14px;
  line-height: 22px;
  padding-bottom: 10px;
  margin-bottom: 10px;

}

.wrapper.collapse .sidebar{
  width: 70px;
}

.wrapper.collapse .sidebar ul li a span.icon{
  text-align: center;
  margin: 0;
}
.wrapper.collapse .sidebar ul li a span.title{
  display: none;
}

.wrapper.collapse .container{
  width: calc(100% - 70px);
  margin-left: 70px;
}

@media (max-width: 783px) {
  .wrapper.collapse .sidebar{
    width: 69px;
  }
}


/* Ini untuk tabel */

/* responsive breakpoint tabel*/

@media screen and (max-width: 780px) {
  .tabel-responsive{
    display: block !important;
    overflow: scroll;
  }
}

/* end breakpoint tabel*/

.tabel{
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
  border: 2px solid #ebebeb;
}

.tabel thead tr{
  background-color: #516673;
  color:#fff;
  text-align: left;
  font-weight: bold;
}

.tabel th,
.tabel td{
  padding: 10px 15px
}

.tabel tbody tr{
  border-bottom: 2px solid #ebebeb;
  transition: all 0.2s;
}

.tabel tbody tr.belum{
  border-bottom: 2px solid #ebebeb;
  transition: all 0.2s;
  color: #4AB19D!important;
}

/* .tabel tbody tr:nth-of-type(even){
  background-color: #ebebeb;
} */

.tabel tbody tr:hover{
  background-color: #f2f2f2;
}

.tabel-responsive{
  display: flex;
  justify-content: center;
  align-items: center;
}

.tbl-aksi{
  padding: 4px 8px;
  font-size: 0.8em;
  border-radius: 5px;
}

.tbl-edit{
  background-color: #85b4d0;
  color:#fff
}

.tbl-hapus{
  background-color: #F18C8E;
  color:#fff
}

.tbl-add{
  background-color: #516673;
  color: #fff;
}
