/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap'); */

*{
  margin: 0;
  list-style: none;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

}

body {
  background: #edf1f5;
  color:#242B36;
  font-weight: 300;
}
.wrapper{
  margin: 5px;
}
svg{
  width: 20px;
  height: 20px;
  fill: #242B36;
}


.wrapper .top_navbar{
  width: calc(100% - 10px);
  height: 60px;
  display: flex;
  position: fixed;
  top: 5px;
}

.wrapper .top_navbar .list-menu{
  width: 70px;
  height: 100%;
  background: #242B36;
  padding: 15px 17px;
  border-top-left-radius: 10px;
  cursor: pointer;
}

.wrapper .top_navbar .list-menu div{
  width: 35px;
  height: 4px;
  background: #85b4d0;
  margin: 5px 0;
  border-radius: 5px;
}

.wrapper .top_navbar .top_menu{
  width: calc(100% - 60px);
  background: #fff;
  height: 100%;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.wrapper .top_navbar .top_menu .logo{
  color:#242B36;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;

}

.wrapper .sidebar{
  position: fixed;
  top: 65px;
  left:5px;
  background: #242B36;
  width: 200px;
  height: calc(100% - 70px);
  border-bottom-left-radius: 10px;
  transition: all 0.3s ease-in-out;

}

.wrapper .sidebar ul li a{
  display: block;
  padding: 20px;
  position: relative;
  margin-bottom: 1px;
  color: #c8d1d6;
  transition: all 0.5s;
}


.icon svg{
  fill: #85b4d0;
  vertical-align: middle;
}

.active svg{
  fill: #e1f4ff;
  vertical-align: middle;
}

.wrapper .sidebar ul li a span.icon{
  margin-right: 5px;
  display: inline-block;
}

.wrapper .sidebar ul li a span.title{
  display: inline-block;
  font-size: 0.9em;
  vertical-align: middle;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
  background: #2E3642;
  color: #fff;
}

.content-title{
  text-align: center;
  padding:20px !important;
  color: #242B36
}

.wrapper .container{
  width: calc(100% - 200px);
  margin-top: 70px;
  margin-left: 200px;
  padding: 5px;
  transition: all 0.5s ease;
  min-height: calc(100vh - 112px);
}

.wrapper .container .content{
  background: #fff;
  padding: 15px;
  font-size: 14px;
  line-height: 22px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-weight: 500;

}

.wrapper.collapse .sidebar{
  width: 70px;
}

.wrapper.collapse .sidebar ul li a span.icon{
  text-align: center;
  margin: 0;
}
.wrapper.collapse .sidebar ul li a span.title{
  display: none;
}

.wrapper.collapse .container{
  width: calc(100% - 70px);
  margin-left: 70px;
}

@media (max-width: 783px) {
  .wrapper.collapse .sidebar{
    width: 69px;
  }
}

/* FOOTER */
.wrapper .container-footer{
  width: calc(100% - 200px);
  margin-left: 200px;
  justify-content: center;
}

.wrapper.collapse .container-footer{
  width: calc(100% - 70px);
  margin-left: 70px;
}

.wrapper .container-footer .footer-isi{
  text-align: center;
  padding: 10px 0px;
  font-size: 14px;
  width:100%;
  font-size: 12px;
  font-weight: 300
}

.wrapper .container-footer .footer-isi a{
  color: #242B36;
  font-weight: bold;
}

/* END FOOTER */

/* Ini untuk tabel */

/* responsive breakpoint tabel*/

@media screen and (max-width: 780px) {
  .tabel-responsive{
    display: block !important;
    overflow: scroll;
  }
}

/* end breakpoint tabel*/

.tabel{
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
  border: 2px solid #ebebeb;
}

.tabel thead tr{
  background-color: #242B36;
  color:#fff;
  text-align: left;
  font-weight: 700;
  border: 2px solid #242B36;
}

.tabel th,
.tabel td{
  padding: 10px 15px
}

.tabel tbody tr{
  border-bottom: 2px solid #ebebeb;
  transition: all 0.2s;
}

.tabel tbody tr:last-child{
  border-bottom:none;
  transition: all 0.2s;
}

.tabel tbody tr.belum{
  transition: all 0.2s;
  color: #4AB19D!important;
}

/* .tabel tbody tr:nth-of-type(even){
  background-color: #ebebeb;
} */

.tabel tbody tr:hover{
  background-color: #f2f2f2;
}

.tabel-responsive{
  display: flex;
  justify-content: center;
  align-items: center;
}

.tbl-aksi{
  padding: 4px 8px;
  font-size: 0.8em;
  border-radius: 5px;
}

.tbl-edit{
  background-color: #659bbb;
  color:#fff
}

.tbl-hapus{
  background-color: #d94447;
  color:#fff
}

.tbl-add{
  background-color: #242B36;
  color: #fff;
}

.tbl-del{
  background-color: #d94447;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* #massDelete input:checked ~ {
  display: none;
} */

#error{
  position:relative;
  z-index:1;
  text-align: left;
  color: red;
  background: #fff
}

#adaError {
	background: #d94447;
	max-width: 275px;
	padding: 10px;
	color: #fff;
	font-weight: 600;
}

.form-bungkus{
  width: 100%;
}
.form-group{
  display: flex;
  flex-direction: column;
}

.input-group{
  display: flex;
  flex-direction: column;
  margin-bottom: 23px;
}

.input-group span{
  padding: 0px 0 5px 0;
  font-size: 1em;
}

.input-group input[type=text]{
  border: none;
  box-sizing: border-box;
  background-color: #e1e5ea;
  height: 35px;
  padding: 7px;
  border-radius: 3px;
  color: #516673;
  font-size: 0.9em;
}

.input-group input.setengah{
  width: 50%
}

.input-group textarea{
  height: 200px;
  padding: 17px;
  font-size: 0.9em;
  border-radius: 3px;
  border: 2px solid #e1e5ea;
}

.input-group-btn{
  display: inline-block;
}

.input-group-btn .btn{
  border: none;
  padding: 7px 20px;
  border-radius: 3px;
  color:#fff;
  transition: all 0.5s;
  cursor: pointer;
}

.input-group-btn .submit{
  background-color: #4AB19D;
}

.input-group-btn .submit:hover{
  background-color: #4ACEB4;
}

.input-group-btn .close{
  background-color: #D94447;
}

.input-group-btn .close:hover{
  background-color: #DB7577;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    max-width: 170px;
    font-size: 1em;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.525rem 1.25rem;
    transition: all 0.5s
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em
}

.inputfile + label {
  color: #516673;
  border: 2px solid #516673;
}

.inputfile:focus + label,
.inputfile.focus + label,
.inputfile + label:hover {
    border-color: #85b4d0;
}

.preview-title{
  text-align: center;
  margin-bottom: 10px;
}

.xlsx{
  display: flex;
}

.xlsx button.btn-preview {
	max-width: 100px;
	padding: 0.525rem 1rem;
	margin-left: 10px;
	border: 2px solid #4ba6a6;
	font-size: 1em;
	font-weight: 500;
	background: #81ecec;
	cursor: pointer;
	transition: all 0.5s;
  display: none
}

.xlsx button.btn-preview:hover{
  background: #52d5d5;
}

.preview{
  max-width: 300px;
  margin: 10px 0px 25px 0px;
}

.wrapper #msg{
  display: flex;
  position: fixed;
  z-index: 1;
  margin-left: 200px;
  padding: 5px;
  margin-top: 8px;
  transition: all .5s

}

.wrapper #msg .success,
.err-place #msg .success{
  background-color: #4cd137;
  padding: 13px 34px;
  color: #fff;
  font-weight: 600;
  box-shadow: 0px 9px 9px 0px rgba(0, 0, 0, 0.29);
}

.wrapper #msg .error,
.err-place #msg .error{
  background-color: #d94447;
  padding: 13px 34px;
  color: #fff;
  font-weight: 600;
  box-shadow: 0px 9px 9px 0px rgba(0, 0, 0, 0.29);
}

.wrapper #msg .warning{
  background-color: #fbc531;
  padding: 13px 34px;
  color: #fff;
  font-weight: 600;
  box-shadow: 0px 9px 9px 0px rgba(0, 0, 0, 0.29);
}

.wrapper.collapse #msg{
  margin-left: 70px;
}

.hide{
  height: 0px;
  padding: 0px;
  opacity: 0
}


/* LOGIN */


.container-luar{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 10px;
}

.form-container h1 {
	margin: 15px 0;
}

p.p{
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 5px;
  margin: 20px 0 30px
}

.form-container span {
	margin-bottom:30px;
}

a.forgot {
	margin-top: 30px;
}

a.forgot{
  color: #333;
  font-size: 12px;
  text-decoration: none;
  margin: 15px 0;
}


.container-login{
  background: #fff;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  height: 480px;
}

.form-container form{
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.form-container input{
  background: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

button.tombol{
  border-radius: 20px;
  border: 1px solid #242b36;
  background: #242b36;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  transition: all 0.3s ease-in;
  cursor: pointer;

}

button.tombol:hover{
  transform:scale(0.95)
}

button.tombol:focus{
  outline: none;
}

button.ghost{
  background: transparent;
  border-color: #fff;
}

.form-container{
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.signin-container{
  left: 0;
  width: 50%;
  z-index: 1;
}

.overlay-container{
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.overlay{
  background: #516673;
  background: linear-gradient(to right, #3a3659, #242b36) no-repeat 0 0 / cover;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;

}

.overlay-panel{
  color: #fff;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  width: 50%;
  height: 100%;
  text-align: center;
  right: 0;
}

.container-login-s{
  width: 340px;
  background: #fff;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  height: 480px;
}

@media screen and (max-width: 824px) {
  .overlay-container{
    display: none;
  }
  .container-login{
    width: 340px;
  }

}
